[submodule "hw-rails-intro"]
	path = hw-rails-intro
	url = git@github.com:cjzcpsyx/hw-rails-intro.git
[submodule "rottenpotatoes-rails-intro"]
	path = rottenpotatoes-rails-intro
	url = git@github.com:cjzcpsyx/rottenpotatoes-rails-intro.git
[submodule "hw-bdd-cucumber"]
	path = hw-bdd-cucumber
	url = git@github.com:cjzcpsyx/hw-bdd-cucumber.git
[submodule "hw-bdd-tdd-cycle"]
	path = hw-bdd-tdd-cycle
	url = git@github.com:cjzcpsyx/hw-bdd-tdd-cycle.git
[submodule "hw-ruby-intro"]
	path = hw-ruby-intro
	url = git@github.com:cjzcpsyx/hw-ruby-intro.git
[submodule "hw-sinatra-saas-hangperson"]
	path = hw-sinatra-saas-hangperson
	url = git@github.com:cjzcpsyx/hw-sinatra-saas-hangperson.git
